


.report-main{
    margin-left: 19%;
  
    margin-top: 5%;
    margin-bottom: 4%;
    padding: 25px;

    border: 1px rgb(9, 161, 255) solid;
    width: 500px;
    border-radius: 10px;
    box-shadow:
    rgba(9, 161, 225, 0.4) 0px 7px, 
    rgba(89, 161, 225, 0.3) 0px 12px, 
    rgba(9, 161, 225, 0.2) 0px 17px, 
    rgba(9, 161, 225, 0.1) 0px 22px, 
    rgba(9, 161, 225, 0.05) 0px 27px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }

.valikko {
    width: 400px;
}
  
  .example-full-width {
    width: 100%;
  }

  .inputfield {
    background-color: rgb(237, 62, 9);
    color: white;
  }

  button:hover {
    background-color: rgb(208, 209, 209);
  }

.secret-text {
  margin-top: 2%;
  background-color: rgb(14, 233, 14);
  padding: 10px;
  border-radius: 5px;
  border: 1px black solid;
}

