

<div class="container px-4 py-5" id="icon-grid">
    <h1 class="pb-3 green-100 border-bottom">Our features</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <fa-icon [icon]="faHeart" size="xl"></fa-icon>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Easy to use</h3>
          <p>Quick learn and easy to use. User friendly UI.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <fa-icon [icon]="faListCheck" size="xl"></fa-icon>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Resource management</h3>
          <p>Point resources to right places, right time.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <fa-icon [icon]="faClipboard" size="xl"></fa-icon>
                <div>
          <h3 class="fw-bold mb-0 fs-4">Follow raports</h3>
          <p>Users can send reports to property management.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <fa-icon [icon]="faClock" size="xl"></fa-icon>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Use timer</h3>
          <p>Show last cleaning time to customers.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <fa-icon [icon]="faLayerGroup" size="xl"></fa-icon>
        <div>
          <h3 class="fw-bold mb-0 fs-4">Easy to scale</h3>
          <p>Application is easy to scale all of needed places, worldwide.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <fa-icon [icon]="faUsersSlash" size="xl"></fa-icon>

        <div>
          <h3 class="fw-bold mb-0 fs-4">GDPR Free!</h3>
          <p>Application doesn't use or save any personal information.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <fa-icon [icon]="faFaceSmileBeam" size="xl"></fa-icon>

        <div>
          <h3 class="fw-bold mb-0 fs-4">Grows satisfaction</h3>
          <p>Keep clean envirioment and grow your customers satisfaction.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <fa-icon [icon]="faCode" size="xl"></fa-icon>

        <div>
          <h3 class="fw-bold mb-0 fs-4">Configure and Go</h3>
          <p>Application is easy to configure and our core team helps you.</p>
        </div>
      </div>
    </div>
  </div>
