
<section [style.background-color]="color2" class="site">

<section class="main">
<section class="d-flex py-1">

    <!--
    <form class="d-flex ms-auto">
    <input type="text" class="form-control input-pincode" placeholder="Pincode" aria-label="Pincode" aria-describedby="basic-addon1">
    <button class="btn btn-outline-success" (click)="OpenButton()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
        </button>
</form>
-->
<h2>User interface <fa-icon [icon]="faVirusSlash" size="xl"></fa-icon> > Confidential</h2>

</section>

<div [style.background-color]="color1" class="keskibox">
<h1>Last clean up done {{timeSet}} hours ago 

<span [hidden]="ShowHidden">
<fa-icon [icon]="faVirusSlash"></fa-icon>
</span>

<span [hidden]="ShowHiddenVirus">
<fa-icon [icon]="faVirus"></fa-icon>
</span>


</h1>

<p class="whitefont">{{overTimeText}}</p>
</div>
<span class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star"></i>
    
    </span>
<span>
<p>{{TimeNow | date:'HH:MM a | dd.MM.yyyy | z'}}</p>
Toilet Id: {{toiletId}} | {{toiletName}} | {{toiletLocation}}

</span>
</section>


<section class="bottompart">
<app-report></app-report>

</section>

</section>