.main {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
}
h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    font-size: 2.3rem;
    color: rgb(205, 232, 255);
}

.keskibox {
    width:100%;
    border-radius: 20px;
    padding-top: 30px;
    height: 120px;
    text-align: center;
}

.whitefont {
    color: whitesmoke;
    font-weight: 300;
}

button {
    margin: 2px;
}

