.main {
    margin: 1%;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 15px;

 
   
}

figure {
    width: 100%;
    padding: 0.1rem;

}    
figure img {
    max-width: 100%;   
    border-radius: 20px;
}